* { 
    margin: 0px; 
    padding: 0px;
    font-family: 'DM Sans', sans-serif;
}

@import url('http://fonts.cdnfonts.com/css/dcc-ash');

h1{
    color: #0a9916;
    margin-bottom: 2rem;
    font-family: 'DCC - Ash', sans-serif;
    font-weight: 200;
    font-size: 6rem;
}

.grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "main__section__presentacion main__section__presentacion main__presentacion__img main__presentacion__img"
                        "servicios servicios actividades actividades"
                        "img1 img2 img3 img4"
                        "dondeEstamos dondeEstamos mapa mapa";
    padding: 0rem 2rem;
    
}

header {
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    padding: 0 4rem;
}

.logo {

}

.logo img {
    width: 80px; 
}

.ul__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    list-style-type: none;
}

.ul__nav li{
    margin: 0 1rem;
}

.ul__nav li a{
    text-decoration: none;
    color: #f8f8f8;
}

.ul__nav li a:hover{
    text-decoration: none;
    color: #ccff33;
}

.top__img {

}

.top__img img{
    width: 100%;
}

main {
    /*
    background-image: url(../recursos/pasto.jpg);
    */
    background-repeat: repeat;
}

.main__section__presentacion {
    display: flex;
    flex-direction: column;
    grid-area: main__section__presentacion;
    padding: 1rem;
    justify-content: center;
    text-align: center;
}

.main__section__presentacion h1{
    color: #0a9916;
    margin-bottom: 2rem;
    font-family: 'DCC - Ash', sans-serif;
    font-weight: 200;
    font-size: 6rem;
}

.main__section__presentacion p{
    font-size: 1.5rem;
}

.main__presentacion__img {
    grid-area: main__presentacion__img;
    padding: 1rem;
    align-self: center;
}

.main__presentacion__img img{
    width: 100%;
}

.main__section__servicios {
    grid-area: servicios;
    padding: 1rem;
}

.main__section__servicios h2{
    color: #0a9916;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.main__section__servicios ul {
    list-style-type: none;
}

.main__actividades {
    grid-area: actividades;
    padding: 1rem;
}

.main__actividades h2{
    color: #0a9916;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.main__actividades ul {
    list-style-type: none;
}

.main__section__galeria {
    display: flex;
    padding: 1rem;
    margin: 0 1rem;
    justify-content: space-evenly;
}

.imgStilos {
    padding: 1rem;
    margin-bottom: 1rem;
}

.img1 {
    grid-area: img1;
}

.img1 img{
    width: 100%;
}

.img2 {
    grid-area: img2;
}

.img2 img{
    width: 100%;
}

.img3 {
    grid-area: img3;
}

.img3 img{
    width: 100%;
}

.img4 {
    grid-area: img4;
}

.img4 img{
    width: 100%;
}

.dondeEstamos {
    grid-area: dondeEstamos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0a9916;
    text-align: center;
}

.dondeEstamos h2{
    font-size: 1.8rem;
    color: #f8f8f8;
    margin-bottom: 2rem;
}

.dondeEstamos p{
    color: #f8f8f8;
}

.dondeEstamos span{
    display: block;
    margin-bottom: 0.3rem;
}

.mapa {
    grid-area: mapa;
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100px;
    background-color: #ccff33;
}

.redes {
    width: 2rem;
    padding: 1rem;
}

/*/////////////     ESCUELA FUTBOL   /////////////*/

.mainEscuela {
    padding: 0rem 2rem;
}

.escuelaFutbol {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.escuelaFutbol__presentacion {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 45%;
}

.escuelaFutbol__imagen {
    padding: 1rem;
}

.escuelaFutbol__imagen img{
    width: 100%;
}

.escuela_calendario {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 96%;
    text-align: center;
}

.escuela_calendario__1 span {
    display: inline-block;
    padding: 2%;
    background-color: aqua;
    width: 28%;
    text-align: center;
}

.escuela_calendario__2 span {
    display: inline-block;
    padding: 2%;
    background-color: green;
    width: 28%;
    text-align: center;
}

.escuela_calendario__3 span {
    display: inline-block;
    padding: 2%;
    background-color: yellow;
    width: 28%;
    text-align: center;
}

.escuela_calendario__4 span {
    display: inline-block;
    padding: 2%;
    background-color: orange;
    width: 28%;
    text-align: center;
}

.escuela_calendario__5 span {
    display: inline-block;
    padding: 2%;
    background-color: red;
    width: 28%;
    text-align: center;
}

/*/////////////     BUFFET     /////////////*/

.mainBuffet {
    padding: 2% 4%;
}

.mainBuffet h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.mainBuffet h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.mainBuffet h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.mainBuffet p {
    text-align: center;
}

.section__buffet__comidas {
    background-color: aqua;
    padding: 2rem 1rem 2rem 1rem;
    margin: 2rem 0rem 2rem 0rem;
}

.section__buffet__comidas__caja {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.section__buffet__comidas__caja img {
    width: 20%;
    border: 4px solid whitesmoke;
}

.section__buffet__bebidas {
    background-color: aquamarine;
    padding: 2rem 1rem 2rem 1rem;
    margin: 2rem 0rem 2rem 0rem;
}

.section__buffet__bebidas__caja {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.section__buffet__bebidas__caja img {
    width: 20%;
    border: 4px solid whitesmoke;
}



/*/////////////     TORNEOS     /////////////*/

.mainTorneos__h1 {
    text-align: center;
    padding: 2rem 0rem 2rem 0rem;
}

.mainTorneos {
    display: grid;
    grid-template-rows: 1fr 0.1fr auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "mainTorneos__section__amateurs mainTorneos__section__amateurs mainTorneos__section__tuTorneo mainTorneos__section__tuTorneo"
                        "mainTorneos__section__mensaje mainTorneos__section__mensaje mainTorneos__section__mensaje mainTorneos__section__mensaje"
                        "mainTorneos__section__comodidades mainTorneos__section__comodidades mainTorneos__section__comodidades mainTorneos__section__comodidades";
}

.mainTorneos__section {}

.mainTorneos__section__amateurs {
    grid-area: mainTorneos__section__amateurs;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #a8a8a8;
    border: 4px solid #0a9916;
    border-radius: 15px;
}

.mainTorneos__section__amateurs__h2 {
    margin-bottom: 2rem;
}

.mainTorneos__section__amateurs img{
    border-radius: 15px;
    width: 40%;
    margin: 1rem 0rem;
}

.mainTorneos__section__tuTorneo {
    grid-area: mainTorneos__section__tuTorneo;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem;
    text-align: center;
    align-items: center;
    align-content: space-between;
    background-color: #a1a1a1;
    border: 4px solid #0a9916;
    border-radius: 15px;
}

.mainTorneos__section__tuTorneo img{
    border-radius: 15px;
    width: 40%;
    margin: 1rem 0rem;
}

.mainTorneos__section__mensaje {
    grid-area: mainTorneos__section__mensaje;
}

.mainTorneos__h2 {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 0rem 2rem 0rem;
}

.mainTorneos__section__comodidades {
    grid-area: mainTorneos__section__comodidades;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: #ccff33;
    text-align: center;
}

.mainTorneos__section__comodidades__div {
    width: 200px;
    padding: 1rem;
}

.mainTorneos__section__comodidades img{
    width: 80px;
}

/*//////////////     CONTACTO Y RESERVAS     /////////////*/

.mainContacto {
    background-image: url(../recursos/pasto.jpg);
    background-repeat: repeat;
    padding: 1rem 2rem;
}

.mainContacto h1{
    text-align: center;
}

.mainContacto section{
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 10px;
}

.mainContacto .imgHome img{
    width: 100%;
}

.mainContacto__formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.mainContacto__h1 {
    padding: 2rem;
    font-size: 2rem;
}

.mainContacto__formulario__nombre {
    margin-bottom: 1rem;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid #0a9e60;
    width: 42%;
    height: 1.5rem;
    background-color: rgb(230, 255, 234);
}

.mainContacto__formulario__nombre:focus {
    border: none;
    background-color: rgb(179, 245, 190);
}

.mainContacto__formulario__apellido {
    margin-bottom: 1rem;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid #0a9e60;
    width: 42%;
    height: 1.5rem;
    background-color: rgb(230, 255, 234);
}

.mainContacto__formulario__apellido:focus {
    border: none;
    background-color: rgb(179, 245, 190);
}

.mainContacto__formulario__telefono {
    margin-bottom: 1rem;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid #0a9e60;
    width: 100%;
    height: 1.5rem;
    background-color: rgb(230, 255, 234);
}

.mainContacto__formulario__telefono:focus {
    border: none;
    background-color: rgb(179, 245, 190);
}

.mainContacto__formulario__correo {
    margin-bottom: 1rem;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid #0a9e60;
    width: 100%;
    height: 1.5rem;
    background-color: rgb(230, 255, 234);
}

.mainContacto__formulario__correo:focus {
    border: none;
    background-color: rgb(179, 245, 190);
}

.mainContacto__formulario__dia {
    margin-bottom: 1rem;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid #0a9e60;
    width: 42%;
    height: 1.5rem;
    background-color: rgb(230, 255, 234);
}

.mainContacto__formulario__dia:focus {
    border: none;
    background-color: rgb(179, 245, 190);
}

.mainContacto__formulario__horario {
    margin-bottom: 1rem;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid #0a9e60;
    width: 42%;
    height: 1.5rem;
    background-color: rgb(230, 255, 234);
}

.mainContacto__formulario__horario:focus {
    border: none;
    background-color: rgb(179, 245, 190);
}

.mainContacto__formulario__textArea {
    width: 100%;
    height: 150px;
    padding: 1rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #0a9e60;
    border-radius: 4px;
    resize: none;
    background-color: rgb(230, 255, 234);
}

.mainContacto__formulario__textArea:focus {
    border: none;
    background-color: rgb(179, 245, 190);
}

.mainContacto__formulario__enviarConsulta {
    font-size: 1.2rem;
    border: none;
    margin-bottom: 1rem;
    width: 100%;
    height: 2rem;
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #0a9e60);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #0a9e60); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



/*///////////////////////////////////////////////*/
/*/////////////     RESPONSIVE     /////////////*/
/*/////////////////////////////////////////////*/

@media (min-width: 541px) and (max-width: 720px) {
    .grid__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "main__section__presentacion main__section__presentacion"
                            "main__presentacion__img main__presentacion__img"
                            "servicios actividades"
                            "img1 img2"
                            "img3 img4"
                            "dondeEstamos dondeEstamos"
                            "mapa mapa";
    }

    .ul__nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .dondeEstamos h2{
        margin: 2rem;
    }

        /*/////////////     ESCUELA FUTBOL   /////////////*/

        .escuelaFutbol {
            flex-direction: column;
        }

        .escuelaFutbol__presentacion {
            width: 90%;
        }

        .dondeEstamos p{
            margin-bottom: 2rem;
        }
    
}

@media (max-width: 540px) {
    .grid__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "main__section__presentacion"
                            "main__presentacion__img"
                            "servicios"
                            "actividades"
                            "img1"
                            "img2"
                            "img3"
                            "img4"
                            "dondeEstamos"
                            "mapa";
    }

    header {
        display: flex;
        background-color: rgb(0, 0, 0);
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        height: 35vh;
    }

    .ul__nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .dondeEstamos h2{
        margin: 2rem;
    }

    .dondeEstamos p{
        margin-bottom: 2rem;
    }

    /*/////////////     TORNEOS     /////////////*/

    .mainTorneos {
        display: grid;
        grid-template-rows: 0.8fr 0.8fr 0.1fr;
        grid-template-columns: auto;
        grid-template-areas: "mainTorneos__section__amateurs" 
                            "mainTorneos__section__tuTorneo"
                            "mainTorneos__section__mensaje"
                            "mainTorneos__section__comodidades";
    }

    .mainTorneos__section__amateurs img{
        width: 65%;
    }

    .mainTorneos__section__tuTorneo img{
        width: 65%;
    }

    .mainTorneos__section__comodidades {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .mainTorneos__section__comodidades__div {

        padding: 1rem;
    }

    .mainTorneos__section__comodidades img{
        width: 60px;
    }

    /*/////////////     ESCUELA FUTBOL   /////////////*/

    .escuelaFutbol {
        flex-direction: column;
    }

    .escuelaFutbol__presentacion {
        width: 90%;
    }

    .escuela_calendario__1 span {
        width: 90%;
    }
    
    .escuela_calendario__2 span {
        width: 90%;
    }
    
    .escuela_calendario__3 span {
        width: 90%;
    }
    
    .escuela_calendario__4 span {
        width: 90%;
    }
    
    .escuela_calendario__5 span {
        width: 90%;
    }

    /*/////////////    BUFFET   /////////////*/

    .section__buffet__comidas__caja {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .section__buffet__comidas__caja img {
        width: 80%;
    }
    
    .section__buffet__bebidas__caja {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .section__buffet__bebidas__caja img {
        width: 80%;
    }

    /*/////////////    CONTACTO   /////////////*/

    .mainContacto__formulario__nombre, .mainContacto__formulario__apellido, .mainContacto__formulario__dia, .mainContacto__formulario__horario  {
        width: 100%;
    }



}