* { 
    margin: 0px; 
    padding: 0px;
    font-family: 'Roboto', sans-serif;

}

@font-face {
    font-family: Ash;
    src: url( ../recursos/ash.otf);
}

.nave__menu {
    width: 100%;
    height: 100px;
    background-color: black;
}

.nave__menu__img {
    width: 30%;
}

.nave__menu ul {
    text-decoration: none;
}

.nave__menu li {
    display: inline-block;
    margin: 16px;
    padding: 8px;
    font-size: 18px;
    font-weight: 600;
    
}

.nave__menu li:hover {
    display: inline-block;
    margin: 16px;
    padding: 8px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(21, 255, 0, 0.212);
}

.nave__menu a {
    text-decoration: none;
    color: greenyellow;
}

.nave__menu a:visited {
    color: greenyellow;
    text-decoration: none;
}

.nave__img {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.nave__img img {
    width: 100%;
    background-size: cover;
}

.presentacion {
    padding: 16px;
}

.presentacion h1{
    padding-top: 16px;
    padding-left: 16px;
    font-size: 20px;
}

.presentacion p{
    display: inline-block;
    padding-top: 16px;
    padding-left: 16px;
    font-size: 18px;
    width: 48%;
}
.presentacion img{
    display: inline-block;
    padding-top: 16px;
    padding-left: 16px;
    width: 40%;
    height: 300px;
    background-repeat: none;
    background-size: cover;
}

.contenido {
    padding: 16px;
}

.contenido__bloque1 {
    display: inline-block;
    padding: 8px;
    width: 45%;
    border: 2px solid green;
}

.contenido__bloque2 {
    display: inline-block;
    margin-left: 16px;
    padding: 8px;
    width: 45%;
    border: 2px solid green;
}

.contenido ul {
    list-style: none;
}

.galeria {
    padding: 16px;

}

.galeria img {
    margin: 16px;
    width: 22%;
    border: 2px solid gray;
    border-radius: 1%;
}

.como_llegar {
    background-color: blue;
    text-align: center;
}

.como_llegar h2 {
    padding: 16px;
}

.footer {
    text-align: center;
    background-color: rgb(235, 235, 235);
}

.footer p {
    font-size: 12px;
    padding: 16px;
}

.footer img {
    width: 2%;
}

/*/////////////     TORNEO     /////////////*/

.torneo {
    margin: 2%;
    padding: 2%;
}

.torneo .torneo__h1{
    font-family: Ash;
    font-size: 100px;
    font-weight: normal; 

}

.torneo h2{
    font-size: 40px;
    color: #ccff33;
}

.torneo__amateur {
    display: inline-block;
    padding: 2% 5%;
    width: 35%;
    text-align: center;
    background-color: #2b2b2b;
}

.torneo__amateur h2{

    font-size: 40px;
    color: #ccff33;
}

.torneo__amateur p{
    margin-top: 2%;
    color: whitesmoke;
}

.torneo__amateur img{
    margin-top: 2%;
}

.torneo__amateur a{
    display: block;
}

.torneo__TuTorneo {
    display: inline-block;
    padding: 2% 5%;
    width: 35%;
    text-align: center;
    background-color: #2b2b2b;
}

.torneo__TuTorneo p{
    margin-top: 2%;
    color: whitesmoke;
}

.torneo__TuTorneo img{
    margin-top: 2%;
}

.torneo__TuTorneo a{
    display: block;
}

.comodidades {
    margin: 2%;
    padding: 2%;
}

.comodidades div{
    display: inline-block;
    background-color: black;
    padding: 1%;
    color: #ccff33;
    width: 10%;
}

.comodidades__img {
    width: 50%;
}

/*//////////////     CONTACTO Y RESERVAS     /////////////*/

.MainContacto {
    background-image: url(../recursos/pasto.jpg);
    background-repeat: repeat;
    padding: 2%;
}

.MainContacto section{
    margin: 5% 5%;
    background-color: whitesmoke;
    padding: 3%;
    border-radius: 10px;
}

.MainContacto__h1 {
    margin: 3% 0%;
}

.MainContacto__formulario div{
    margin-bottom: 1%;
    
}

.MainContacto__formulario__TextArea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

/*/////////////     ESCUELA    /////////////*/

.escuela {
    padding: 2%;
}

.escuela div{
    display: inline-block;
    width: 40%;
}

.escuela_calendario {
    padding: 2%;
}

.escuela_calendario__1 p {
    display: inline-block;
    margin: 0%;
    margin-bottom: 1%;
    padding: 2%;
    background-color: aqua;
}

.escuela_calendario__2 p {
    display: inline-block;
    margin: 0%;
    margin-bottom: 1%;
    padding: 2%;
    background-color: green;
}

.escuela_calendario__3 p {
    display: inline-block;
    margin: 0%;
    margin-bottom: 1%;
    padding: 2%;
    background-color: yellow;
}

.escuela_calendario__4 p {
    display: inline-block;
    margin: 0%;
    margin-bottom: 1%;
    padding: 2%;
    background-color: orange;
}

.escuela_calendario__5 p {
    display: inline-block;
    margin: 0%;
    margin-bottom: 1%;
    padding: 2%;
    background-color: red;
}

/*/////////////     BUFFET     /////////////*/

.buffet {
    padding: 2% 4%;
    background-color: #ccff33;
}