@import url("https://fonts.cdnfonts.com/css/dcc-ash");
* {
  margin: 0px;
  padding: 0px;
  font-family: 'DM Sans', sans-serif; }

.navbar-brand img {
  width: 5rem; }

.navLink {
  display: block;
  padding: 0.5rem 1rem;
  color: #8cbb00;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out; }
  .navLink:hover {
    color: #ccff33; }

.fBlack {
  background-color: black; }

.top__img img {
  width: 100%; }

.titH1 {
  margin-bottom: 2rem;
  font-family: 'DCC - Ash', sans-serif;
  font-weight: 400;
  font-size: 5rem;
  text-align: center; }

.subH2 {
  margin-bottom: 2rem;
  font-family: 'DCC - Ash', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  text-align: center; }

.subH3 {
  margin-bottom: 2rem;
  font-family: 'DCC - Ash', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-align: center; }

.green {
  color: #8cbb00; }

.white {
  color: #f8f8f8; }

.grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "main__section__presentacion main__section__presentacion main__presentacion__img main__presentacion__img" "servicios servicios actividades actividades" "img1 img2 img3 img4" "dondeEstamos dondeEstamos mapa mapa";
  padding: 0rem 2rem; }
  .grid__container .main__section__presentacion {
    display: flex;
    flex-direction: column;
    grid-area: main__section__presentacion;
    padding: 1rem;
    text-align: center; }
    .grid__container .main__section__presentacion p {
      font-size: 1.5rem;
      color: #f8f8f8; }
  .grid__container .main__presentacion__img {
    grid-area: main__presentacion__img;
    padding: 1rem;
    align-self: center; }
    .grid__container .main__presentacion__img img {
      width: 100%; }
  .grid__container .main__section__servicios {
    grid-area: servicios;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../recursos/caja-watercolor-deg.jpg);
    background-size: cover;
    padding: 1rem;
    margin: 1rem; }
    .grid__container .main__section__servicios ul {
      list-style-type: none; }
      .grid__container .main__section__servicios ul li {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: #f8f8f8; }
  .grid__container .main__actividades {
    grid-area: actividades;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../recursos/caja-watercolor-deg.jpg);
    background-size: cover;
    padding: 1rem;
    margin: 1rem; }
    .grid__container .main__actividades ul {
      list-style-type: none; }
      .grid__container .main__actividades ul li {
        font-size: 1.5rem;
        color: #f8f8f8;
        margin-bottom: 1rem; }
  .grid__container .img1 {
    grid-area: img1; }
  .grid__container .img2 {
    grid-area: img2; }
  .grid__container .img3 {
    grid-area: img3; }
  .grid__container .img4 {
    grid-area: img4; }
  .grid__container .dondeEstamos {
    grid-area: dondeEstamos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-image: url(../recursos/la_casa_del_futbol_transparente.png);
    background-color: #8cbb00;
    text-align: center; }
    .grid__container .dondeEstamos p {
      font-size: 1.2rem;
      color: #f8f8f8; }
  .grid__container .mapa {
    grid-area: mapa;
    margin: 0;
    padding: 0; }

.imgStilos {
  padding: 1rem;
  margin-bottom: 1rem;
  transform: scale(1); }
  .imgStilos:hover {
    transform: scale(1.1); }
  .imgStilos img {
    width: 100%; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #ccff33; }

.redes {
  width: 2rem; }

/*/////////////     BUFFET     /////////////*/
.mainBuffet {
  padding: 0rem 1rem; }
  .mainBuffet__comida__carrousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url(../recursos/caja-dark-concrete-deg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem; }
    .mainBuffet__comida__carrousel__texto {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      width: 45%; }
      .mainBuffet__comida__carrousel__texto p {
        text-align: center;
        color: #f8f8f8;
        font-size: 1.5rem; }
    .mainBuffet__comida__carrousel__imagenes {
      width: 45%;
      padding: 1rem; }
  .mainBuffet__bebidas__carrousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url(../recursos/caja-dark-concrete-deg.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    .mainBuffet__bebidas__carrousel__texto {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      width: 45%; }
      .mainBuffet__bebidas__carrousel__texto p {
        text-align: center;
        color: #f8f8f8;
        font-size: 1.5rem; }
    .mainBuffet__bebidas__carrousel__imagenes {
      width: 45%;
      padding: 1rem; }

/*/////////////     ESCUELA FUTBOL   /////////////*/
.escuelaFutbol {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .escuelaFutbol__presentacion {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 45%;
    text-align: center; }
    .escuelaFutbol__presentacion p {
      color: #f8f8f8;
      font-size: 1.5rem; }
  .escuelaFutbol__imagen {
    padding: 1rem;
    width: 45%; }
    .escuelaFutbol__imagen img {
      width: 100%; }

.escuela_calendario {
  display: flex;
  flex-direction: column;
  background-image: url(../recursos/separador_3_illustrator.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-color: white;
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 2rem; }

/*/////////////     TORNEOS     /////////////*/
.mainTorneoBootstrap__section {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem; }
  .mainTorneoBootstrap__section__tarjeta {
    width: 45%;
    background-image: url(../recursos/caja-dark-concrete-deg.jpg);
    background-size: cover; }
    .mainTorneoBootstrap__section__tarjeta p {
      font-size: 1rem;
      color: #f8f8f8; }
    .mainTorneoBootstrap__section__tarjeta h5 {
      font-family: 'DCC - Ash', sans-serif;
      color: #f8f8f8;
      margin: 1rem 0rem;
      font-weight: 400;
      font-size: 2rem; }

.btn-torneo {
  color: #f8f8f8;
  background-color: #8cbb00;
  border: 1px solid #0a9916; }
  .btn-torneo:hover {
    background-color: #ccff33; }

.mainTorneos__section__comodidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: #ccff33;
  text-align: center; }
  .mainTorneos__section__comodidades__div {
    width: 200px;
    padding: 1rem; }
    .mainTorneos__section__comodidades__div img {
      width: 80px; }

/*//////////////     CONTACTO Y RESERVAS     /////////////*/
.mainContacto {
  padding: 1rem 2rem; }
  .mainContacto section {
    padding: 1rem 2rem;
    border-radius: 10px; }
  .mainContacto__form {
    background-image: url(../recursos/caja-dark-concrete-deg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid green; }

.mainContacto__formulario__enviarConsulta {
  font-size: 1.2rem;
  border: none;
  margin-bottom: 1rem;
  width: 100%;
  background-color: #8cbb00; }
  .mainContacto__formulario__enviarConsulta:hover {
    background-color: #ccff33; }

/*//////////////// MEDIAQUERIES ////////////////*/
@media (min-width: 541px) and (max-width: 720px) {
  .grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main__section__presentacion main__section__presentacion" "main__presentacion__img main__presentacion__img" "servicios servicios" "actividades actividades" "img1 img2" "img3 img4" "dondeEstamos dondeEstamos" "mapa mapa";
    padding-left: 0rem;
    padding-right: 0rem; }
  .titH1 {
    font-size: 4rem; }
  .subH2 {
    font-size: 2.5rem; }
  .subH3 {
    font-size: 2rem; }
  .main__section__servicios {
    margin: 0rem; }
  .main__actividades {
    margin: 0rem; }
  /*/////////////     ESCUELA FUTBOL   /////////////*/
  .escuelaFutbol {
    flex-direction: column; }
  .escuelaFutbol__presentacion {
    width: 90%; }
  .escuelaFutbol__imagen {
    padding: 1rem;
    width: 80%; }
  /*/////////////     BUFFET   /////////////*/
  .mainBuffet__comida__carrousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../recursos/caja-dark-concrete-deg.jpg); }
  .mainBuffet__comida__carrousel__texto {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 90%; }
  .mainBuffet__comida__carrousel__imagenes {
    width: 80%;
    padding: 1rem; }
  .mainBuffet__bebidas__carrousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../recursos/caja-dark-concrete-deg.jpg); }
  .mainBuffet__bebidas__carrousel__texto {
    display: flex;
    flex-direction: column;
    width: 90%; }
  .mainBuffet__bebidas__carrousel__imagenes {
    width: 80%; }
  /*/////////////////  TORNEO   /////////////////*/
  .mainTorneoBootstrap__section {
    flex-direction: column;
    align-items: center; }
  .mainTorneoBootstrap__section__tarjeta {
    width: 90%;
    margin-bottom: 2rem; } }

/*/////////////////////////////////////////*/
/*//////////////// MOVIL //////////////////*/
/*/////////////////////////////////////////*/
@media (max-width: 540px) {
  .grid__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "main__section__presentacion" "main__presentacion__img" "servicios" "actividades" "img1" "img2" "img3" "img4" "dondeEstamos" "mapa";
    padding: 0rem 0rem 0rem 0rem; }
  .navbar-brand {
    font-size: 1rem; }
  .titH1 {
    font-size: 3rem; }
  .subH2 {
    font-size: 2rem; }
  .subH3 {
    font-size: 1.5rem; }
  .main__section__presentacion p {
    font-size: 1.5rem; }
  .main__section__servicios {
    margin: 0rem; }
  .main__actividades {
    margin: 0rem; }
  /*/////////////     TORNEOS     /////////////*/
  .mainTorneoBootstrap__section {
    flex-direction: column;
    align-items: center; }
    .mainTorneoBootstrap__section__tarjeta {
      width: 90%;
      margin-bottom: 2rem; }
    .mainTorneoBootstrap__section__amateurs img {
      width: 65%; }
    .mainTorneoBootstrap__section__tuTorneo img {
      width: 65%; }
  .mainTorneos__section__comodidades {
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .mainTorneos__section__comodidades__div {
      padding: 1rem; }
      .mainTorneos__section__comodidades__div img {
        width: 60px; }
  /*/////////////     ESCUELA FUTBOL   /////////////*/
  .escuelaFutbol {
    flex-direction: column; }
    .escuelaFutbol__presentacion {
      width: 90%; }
    .escuelaFutbol__imagen {
      padding: 1rem;
      width: 70%; }
  /*/////////////     BUFFET   /////////////*/
  .mainBuffet__comida__carrousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../recursos/caja-dark-concrete-deg.jpg); }
    .mainBuffet__comida__carrousel__texto {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      width: 90%; }
    .mainBuffet__comida__carrousel__imagenes {
      width: 80%;
      padding: 1rem; }
  .mainBuffet__bebidas__carrousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../recursos/caja-dark-concrete-deg.jpg); }
    .mainBuffet__bebidas__carrousel__texto {
      display: flex;
      flex-direction: column;
      width: 90%; }
    .mainBuffet__bebidas__carrousel__imagenes {
      width: 80%; }
  /*/////////////////  CONTACTO Y RESERVAS   /////////////////*/
  .mainContacto {
    padding: 0; }
    .mainContacto__form {
      border: none; }
    .mainContacto section {
      border-radius: 0; } }
