@media (min-width: 541px) and (max-width: 720px) {
    .grid__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "main__section__presentacion main__section__presentacion"
                            "main__presentacion__img main__presentacion__img"
                            "servicios servicios"
                            "actividades actividades"
                            "img1 img2"
                            "img3 img4"
                            "dondeEstamos dondeEstamos"
                            "mapa mapa";
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .titH1 {
        font-size: 4rem;
    }
    
    .subH2 {
        font-size: 2.5rem;
    }
    
    .subH3 {
        font-size: 2rem;
    }

    .main__section__servicios {
        margin: 0rem;
    }
    
    .main__actividades {
        margin: 0rem;
    }

    /*/////////////     ESCUELA FUTBOL   /////////////*/

    .escuelaFutbol {
        flex-direction: column;
    }

    .escuelaFutbol__presentacion {
        width: 90%;
    }

    .escuelaFutbol__imagen {
        padding: 1rem;
        width: 80%;
    }

    /*/////////////     BUFFET   /////////////*/

    .mainBuffet__comida__carrousel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainBuffet__comida__carrousel__texto {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 90%;
    }
    
    .mainBuffet__comida__carrousel__imagenes {
        width: 80%;
        padding: 1rem;
    }

    .mainBuffet__bebidas__carrousel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainBuffet__bebidas__carrousel__texto {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    
    .mainBuffet__bebidas__carrousel__imagenes {
        width: 80%;
    }

    /*/////////////////  TORNEO   /////////////////*/

    .mainTorneoBootstrap__section {
        flex-direction: column;
        align-items: center;
    }
    
    .mainTorneoBootstrap__section__tarjeta {
        width: 90%;
        margin-bottom: 2rem;
    }
    
}

/*/////////////////////////////////////////*/
/*//////////////// MOVIL //////////////////*/
/*/////////////////////////////////////////*/

@media (max-width: 540px) {
    .grid__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "main__section__presentacion"
                            "main__presentacion__img"
                            "servicios"
                            "actividades"
                            "img1"
                            "img2"
                            "img3"
                            "img4"
                            "dondeEstamos"
                            "mapa";
        padding: 0rem 0rem 0rem 0rem;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    .titH1 {
        font-size: 3rem;
    }
    
    .subH2 {
        font-size: 2rem;
    }
    
    .subH3 {
        font-size: 1.5rem;
    }

    .main__section__presentacion p {
        font-size: 1.5rem;
    }

    .main__section__servicios {
        margin: 0rem;
    }
    
    .main__actividades {
        margin: 0rem;
    }

    /*/////////////     TORNEOS     /////////////*/

    .mainTorneoBootstrap__section {
        flex-direction: column;
        align-items: center;

        &__tarjeta {
            width: 90%;
            margin-bottom: 2rem;
        }

        &__amateurs img{
            width: 65%;
        }
    
        &__tuTorneo img{
            width: 65%;
        }
    }

    .mainTorneos__section__comodidades {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &__div {
            padding: 1rem;

            img {
                width: 60px;
            }
        }
    
    }

    /*/////////////     ESCUELA FUTBOL   /////////////*/

    .escuelaFutbol {
        flex-direction: column;

        &__presentacion {
            width: 90%;
        }

        &__imagen {
            padding: 1rem;
            width: 70%;
        }
    }

    /*/////////////     BUFFET   /////////////*/

    .mainBuffet__comida__carrousel {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__texto {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            width: 90%;
        }

        &__imagenes {
            width: 80%;
            padding: 1rem;
        }
    }

    .mainBuffet__bebidas__carrousel {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__texto {
            display: flex;
            flex-direction: column;
            width: 90%;
        }
        
        &__imagenes {
            width: 80%;
        }
    }

    /*/////////////////  CONTACTO Y RESERVAS   /////////////////*/
    
    .mainContacto {
        padding: 0;

        &__form {
            border: none;
        }
        section {
            border-radius: 0;
        }
    }

}