@media (min-width: 541px) and (max-width: 900px) {
    h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 2.5rem;
    }
    
    h3 {
        font-size: 2rem;
    }

    .grid__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "main__section__presentacion main__section__presentacion"
                            "main__presentacion__img main__presentacion__img"
                            "servicios servicios"
                            "actividades actividades"
                            "img1 img2"
                            "img3 img4"
                            "ubicacion ubicacion"
                            "mapa mapa";
        padding-left: 0rem;
        padding-right: 0rem;

        .main__presentacion__img {
            text-align: center;

            img {
            width: 80%;
            }
        }

        .main__section__servicios {
            margin: 1rem;
        }
        
        .main__actividades {
            margin: 1rem;
        }
    }

    /*/////////////     ESCUELA FUTBOL   /////////////*/

    .escuela {
        flex-direction: column;
    }

    .escuela__presentacion {
        width: 90%;
    }

    .escuela__imagen {
        padding: 1rem;
        width: 80%;
    }

    /*/////////////     BUFFET   /////////////*/

    .buffet__carrousel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buffet__carrousel__texto {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 90%;
    }
    
    .buffet__carrousel__imagenes {
        width: 80%;
        padding: 1rem;
    }

    /*/////////////////  TORNEO   /////////////////*/

    .main__section__torneo {
        flex-direction: column;
        align-items: center;

        &__tarjeta {
            width: 90%;
            margin-bottom: 2rem;
        }
    }
}

/*/////////////////////////////////////////*/
/*//////////////// MOVIL //////////////////*/
/*/////////////////////////////////////////*/

@media (max-width: 540px) {
    .grid__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "main__section__presentacion"
                            "main__presentacion__img"
                            "servicios"
                            "actividades"
                            "img1"
                            "img2"
                            "img3"
                            "img4"
                            "ubicacion"
                            "mapa";
        padding: 0rem 0rem 0rem 0rem;

        .main__section__presentacion p {
            font-size: 1.5rem;
        }

        .main__presentacion__img {
            text-align: center;
            
            img {
            width: 70%;
            }
        }

        .main__section__servicios {
            margin: 0rem 0rem 1rem 0rem;
        }
        
        .main__actividades {
            margin: 0rem;
        }
    }

    .navbar-brand {
        font-size: 1rem;
    }

    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }

    /*/////////////     TORNEOS     /////////////*/

    .main__section__torneo {
        flex-direction: column;
        align-items: center;

        &__tarjeta {
            width: 90%;
            margin-bottom: 2rem;
        }

        &__amateurs img{
            width: 65%;
        }
    
        &__tuTorneo img{
            width: 65%;
        }
    }

    .mainTorneos__section__comodidades {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &__div {
            padding: 1rem;

            img {
                width: 60px;
            }
        }
    
    }

    /*/////////////     ESCUELA FUTBOL   /////////////*/

    .escuela {
        flex-direction: column;

        &__presentacion {
            width: 90%;
        }

        &__imagen {
            padding: 1rem;
            width: 70%;
        }
    }

    /*/////////////     BUFFET   /////////////*/

    .buffet__carrousel {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__texto {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            width: 90%;
        }

        &__imagenes {
            width: 80%;
            padding: 1rem;
        }
    }

    /*/////////////////  CONTACTO Y RESERVAS   /////////////////*/
    
    .contacto {
        padding: 0;

        section {
            border-radius: 0;
            border: none;
        }
    }

}