@mixin img__home {
    padding: 1rem;
    margin-bottom: 1rem;

    &:hover {
        border: 3px solid $verde-claro;
    }

    img{
        width: 100%;
    }
}

.titulos {
    font-family: 'DCC - Ash', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
}

.tarjeta__home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../recursos/caja-watercolor.jpg);
    background-size: cover;
    padding: 1rem;
    margin: 1rem;
}