@import 'variables';
@import url('https://fonts.cdnfonts.com/css/dcc-ash');

* { 
    margin: 0px; 
    padding: 0px;
    font-family: 'DM Sans', sans-serif;
}

.navbar-brand img{
    width: 5rem;
}

.navLink {
    display: block;
    padding: 0.5rem 1rem;
    color: $verde;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;

    &:hover {
        color: $verde-claro;
    }
}


.fBlack {
    background-color: black;
}

.top__img img{
    width: 100%;
}

.titH1 {
    margin-bottom: 2rem;
    font-family: 'DCC - Ash', sans-serif;
    font-weight: 400;
    font-size: 5rem;
    text-align: center;
}

.subH2 {
    margin-bottom: 2rem;
    font-family: 'DCC - Ash', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
}

.subH3 {
    margin-bottom: 2rem;
    font-family: 'DCC - Ash', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}

.green {
    color: $verde;
}

.white {
    color: $blanco;
}

.grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "main__section__presentacion main__section__presentacion main__presentacion__img main__presentacion__img"
                        "servicios servicios actividades actividades"
                        "img1 img2 img3 img4"
                        "dondeEstamos dondeEstamos mapa mapa";
    padding: 0rem 2rem;
    
    .main__section__presentacion {
        display: flex;
        flex-direction: column;
        grid-area: main__section__presentacion;
        padding: 1rem;
        text-align: center;

        p {
            font-size: 1.5rem;
            color: $blanco;
        }
    }

    .main__presentacion__img {
        grid-area: main__presentacion__img;
        padding: 1rem;
        align-self: center;
    
        img{
            width: 100%;
        }
    }

    .main__section__servicios {
        grid-area: servicios;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../recursos/caja-watercolor-deg.jpg);
        background-size: cover;
        padding: 1rem;
        margin: 1rem;
    
        ul {
            list-style-type: none;
        
            li {
                font-size: 1.5rem;
                margin-bottom: 1rem;
                color: $blanco;
            }
        }
    }

    .main__actividades {
        grid-area: actividades;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../recursos/caja-watercolor-deg.jpg);
        background-size: cover;
        padding: 1rem;
        margin: 1rem;
    
        ul {
            list-style-type: none;
        
            li {
                font-size: 1.5rem;
                color: $blanco;
                margin-bottom: 1rem;
            }
        }
    
    }
    
    .img1 {
        grid-area: img1;
    }
    
    .img2 {
        grid-area: img2;
    }
    
    .img3 {
        grid-area: img3;
    }
    
    .img4 {
        grid-area: img4;
    }
    
    .dondeEstamos {
        grid-area: dondeEstamos;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $verde;
        text-align: center;
    
        p {
            color: $blanco;
        }
    }
    
    .mapa {
        grid-area: mapa;
        margin: 0;
        padding: 0;
    }
}

.imgStilos {
    padding: 1rem;
    margin-bottom: 1rem;
    transform: scale(1);

    &:hover {
        transform: scale(1.1);
    }

    img{
        width: 100%;
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: $verde-claro;
}

.redes {
    width: 2rem;
}

/*/////////////     BUFFET     /////////////*/

.mainBuffet {
    padding: 0rem 1rem;

    &__comida__carrousel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-image: url(../recursos/caja-dark-concrete-deg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 2rem;

        &__texto {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            width: 45%;
            p {
                text-align: center;
                color: $blanco;
                font-size: 1.5rem;
            }
        }

        &__imagenes {
            width: 45%;
            padding: 1rem;
        }
    }

    &__bebidas__carrousel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-image: url(../recursos/caja-dark-concrete-deg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
        &__texto {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            width: 45%;
            p {
                text-align: center;
                color: $blanco;
                font-size: 1.5rem;
            }
        }
    
        &__imagenes {
            width: 45%;
            padding: 1rem;
        }
    }
}

/*/////////////     ESCUELA FUTBOL   /////////////*/

.escuelaFutbol {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__presentacion {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 45%;
        text-align: center;

        p {
            color: $blanco;
            font-size: 1.5rem;
        }
    }

    &__imagen {
        padding: 1rem;
        width: 45%;
    
        img {
            width: 100%;
        }
    }
}

.escuela_calendario {
    display: flex;
    flex-direction: column;
    background-image: url(../recursos/section-separador.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 2rem;
}

/*/////////////     TORNEOS     /////////////*/

.mainTorneoBootstrap__section {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;

    &__tarjeta {
        width: 45%;
        background-image: url(../recursos/caja-dark-concrete-deg.jpg);
        background-size: cover;

        p {
            font-size: 1rem;
            color:$blanco;
        }

        h5 {
            font-family: 'DCC - Ash', sans-serif;
            color:$blanco;
            margin: 1rem 0rem;
            font-weight: 400;
            font-size: 2rem;
        }
    }

}

.btn-torneo {
    color: $blanco;
    background-color: $verde;
    border: 1px solid $verde-oscuro;

    &:hover {
        background-color: $verde-claro;
    }
}

.mainTorneos__section__comodidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: $verde-claro;
    text-align: center;

    &__div {
        width: 200px;
        padding: 1rem;
        img {
            width: 80px;
        }
    }
}

/*//////////////     CONTACTO Y RESERVAS     /////////////*/

.mainContacto {
    padding: 1rem 2rem;

    section {
        padding: 1rem 2rem;
        border-radius: 10px;
    }

    &__form{
        background-image: url(../recursos/caja-dark-concrete-deg.jpg); 
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid green;
    }
}

.mainContacto__formulario__enviarConsulta {
    font-size: 1.2rem;
    border: none;
    margin-bottom: 1rem;
    width: 100%;
    background-color: $verde;

    &:hover {
        background-color: $verde-claro;
    }
}

/*//////////////// MEDIAQUERIES ////////////////*/

@import 'mediaqueries';
